<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App NodeJS and MongoDB</h1>
    <p class="lead">Simple CRUD notes APP.</p>
    <hr class="my-4">
    <p>Create, Read, Update and Delete notes.</p>
    <a href="/notes/add" class="btn btn-primary btn-lg">New note</a>
</div>